RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?q=$1 [L,QSA]

# Заблочить все IP кроме crm-ного
<RequireAny>
    Require ip 88.212.240.28
    Require all denied
</RequireAny>
