php_value display_errors 1

php_value date.timezone "Europe/Moscow"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?q=$1 [L,QSA]

# Заблочить все IP кроме AmoCRM
<RequireAny>
    Require ip 88.212.240.28
    Require all denied
</RequireAny>
